*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #EEEEEE;
}

.picture{
    width: 100%;
    height: 500px;
    background-color: #280404;
}

.header {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    position: sticky;
    background-color: white;
    top: 5px;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    transition: 
        width 0.4s ease,
        border-radius 0.4s ease,
        box-shadow 0.4s ease,
        margin 0.4s ease;
}

.header-active:hover {
    width: 550px;
    height: 60px;
}

.header-overlay {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 5px;
}

.header-active {
    border-radius: 50px;
    width: 500px;
    height: 50px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.body {
    width: 100%;
    height: 1000px;
}