.typing {
    white-space: pre-wrap;
}

.cursor {
    display: inline-block;
    width: 2px;
    height: 1em;
    background-color: currentColor;
    margin-left: 2px;
    animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
    0%,
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}